body {
    background-color: #055b00;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: flex-start;
}

/* Page Header */
.page-header {
    width: 100%;
    padding: 15px 50px;
    background-color: #055b00;
}

.header-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 60px;
}

.title-group {
    display: flex;
    align-items: center;
}

.title-group h1 {
    font-size: 58px;
    margin: 0 10px 0 0;
}

.title-group h3 {
    font-size: 38px;
    margin: 0;
}

/* Main Content Section */
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin-top: 10px;
    gap: 30px;
}

/* Mascot on the left */
.image-container {
    order: 1;
    width: 50%;
    padding: 30px;
    text-align: center;
    margin-left: 20px;
}

.Mascot {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-left: -50px;
}

/* Login form on the right */
.login-container {
    order: 2;
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px; 
    margin-right: 70px;
}

.login-form {
    width: 100%;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.aloha-message {
    text-align: center;
    font-size: 50px;
    color: #055b00;
    margin-bottom: 15px;
}

.aloha-message p {
    margin: 0;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #055b00;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #049100;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .login-container, .image-container {
        width: 90%;
        margin: 0 auto 20px;
    }
}
